body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:377px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:598px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:598px;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  position:absolute;
  left:0px;
  top:580px;
  width:360px;
  height:60px;
}
#u4 {
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:97px;
  top:591px;
}
#u5_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u6 {
  position:absolute;
  left:0px;
  top:28px;
  width:37px;
  height:12px;
  font-size:9px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u8 {
  position:absolute;
  left:8px;
  top:-1px;
  width:22px;
  height:26px;
}
#u8_img.selected {
}
#u8.selected {
}
#u9 {
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:310px;
  top:591px;
}
#u10_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:23px;
  height:39px;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u11 {
  position:absolute;
  left:7px;
  top:27px;
  width:10px;
  height:12px;
  font-size:9px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:26px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:26px;
}
#u13_img.selected {
}
#u13.selected {
}
#u14 {
  position:absolute;
  left:2px;
  top:5px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:20px;
  top:591px;
}
#u15_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u16 {
  position:absolute;
  left:0px;
  top:28px;
  width:37px;
  height:12px;
  font-size:9px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u18 {
  position:absolute;
  left:8px;
  top:-1px;
  width:22px;
  height:26px;
}
#u18_img.selected {
}
#u18.selected {
}
#u19 {
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:233px;
  top:590px;
}
#u20_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u21 {
  position:absolute;
  left:0px;
  top:28px;
  width:37px;
  height:12px;
  font-size:9px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u23 {
  position:absolute;
  left:6px;
  top:0px;
  width:25px;
  height:25px;
}
#u23_img.selected {
}
#u23.selected {
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:175px;
  top:591px;
}
#u25_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:25px;
  height:39px;
  background-image:none;
}
#u25_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u26 {
  position:absolute;
  left:3px;
  top:27px;
  width:20px;
  height:12px;
  font-size:9px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u28_img.selected {
}
#u28.selected {
}
#u29 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
