body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:910px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:910px;
}
#u40 {
  position:absolute;
  left:2px;
  top:447px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:350px;
}
#u41 {
  position:absolute;
  left:9px;
  top:10px;
  width:340px;
  height:350px;
}
#u42 {
  position:absolute;
  left:2px;
  top:167px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u43 {
  position:absolute;
  left:40px;
  top:378px;
  width:280px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:9px;
  top:474px;
  width:340px;
  height:170px;
  overflow:hidden;
}
#u45_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u45_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:205px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:205px;
}
#u47 {
  position:absolute;
  left:2px;
  top:94px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:170px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u45_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:205px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:205px;
}
#u49 {
  position:absolute;
  left:2px;
  top:94px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:170px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u45_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:205px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:205px;
}
#u51 {
  position:absolute;
  left:2px;
  top:94px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:2px;
}
#u53 {
  position:absolute;
  left:12px;
  top:445px;
  width:130px;
  height:1px;
  color:#FFFFFF;
}
#u54 {
  position:absolute;
  left:2px;
  top:-8px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:2px;
}
#u55 {
  position:absolute;
  left:219px;
  top:444px;
  width:130px;
  height:1px;
  color:#FFFFFF;
}
#u56 {
  position:absolute;
  left:2px;
  top:-8px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u57 {
  position:absolute;
  left:152px;
  top:437px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:2px;
}
#u60 {
  position:absolute;
  left:14px;
  top:662px;
  width:110px;
  height:1px;
  color:#FFFFFF;
}
#u61 {
  position:absolute;
  left:2px;
  top:-8px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:2px;
}
#u62 {
  position:absolute;
  left:235px;
  top:661px;
  width:110px;
  height:1px;
  color:#FFFFFF;
}
#u63 {
  position:absolute;
  left:2px;
  top:-8px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u64 {
  position:absolute;
  left:137px;
  top:654px;
  width:85px;
  height:16px;
  color:#FFFFFF;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:165px;
}
#u67 {
  position:absolute;
  left:9px;
  top:680px;
  width:165px;
  height:165px;
}
#u68 {
  position:absolute;
  left:2px;
  top:74px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:110px;
}
#u69 {
  position:absolute;
  left:9px;
  top:680px;
  width:165px;
  height:110px;
}
#u70 {
  position:absolute;
  left:2px;
  top:47px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u71 {
  position:absolute;
  left:18px;
  top:800px;
  width:69px;
  height:17px;
  font-size:15px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u73 {
  position:absolute;
  left:18px;
  top:825px;
  width:114px;
  height:16px;
  color:#999999;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:165px;
}
#u75 {
  position:absolute;
  left:184px;
  top:680px;
  width:165px;
  height:165px;
}
#u76 {
  position:absolute;
  left:2px;
  top:74px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:110px;
}
#u77 {
  position:absolute;
  left:184px;
  top:680px;
  width:165px;
  height:110px;
}
#u78 {
  position:absolute;
  left:2px;
  top:47px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u79 {
  position:absolute;
  left:193px;
  top:800px;
  width:69px;
  height:17px;
  font-size:15px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u81 {
  position:absolute;
  left:193px;
  top:825px;
  width:114px;
  height:16px;
  color:#999999;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u83 {
  position:absolute;
  left:9px;
  top:859px;
  width:340px;
  height:40px;
  opacity:0.35;
  color:#FFFFFF;
}
#u84 {
  position:absolute;
  left:2px;
  top:12px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u85 {
  position:absolute;
  left:147px;
  top:870px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u87 {
  position:absolute;
  left:164px;
  top:632px;
  width:10px;
  height:10px;
}
#u87_img.selected {
}
#u87.selected {
}
#u88 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u89 {
  position:absolute;
  left:176px;
  top:632px;
  width:10px;
  height:10px;
}
#u89_img.selected {
}
#u89.selected {
}
#u90 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u91 {
  position:absolute;
  left:188px;
  top:632px;
  width:10px;
  height:10px;
}
#u91_img.selected {
}
#u91.selected {
}
#u92 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
